<div>
    <% @all_posts.each do |p| %>
        <div>
            <h1><%= p.title %></h1>
            <h2><%= p.description %></h2>
            <p>By: <%= p.user.first_name %></p>
            <p>Postado em: <%= p.created_at %></p>
            <p>Visualizações: <%= p.views %></p>
        </div>
        <%= link_to 'Ler post', p %>
    <%end%>
</div>